/.gradle
/.idea
/out
/build
*.iml
*.ipr
*.iws
/kubeconfig-*.yaml
.DS_Store
/data/
*/build
/js/node_modules/
/js/dist/script.js
/js/dist/script.js.map
js/.gradle/
/server/src/main/resources/static/script.js
