@import "fonts.css";

body {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    text-align: left;
    margin: 0;
}

:root {
    --main-color: #00cc99;
    --disable-color: #bbcccc;
}

.container {
    width: 95%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
}

a, a:visited {
    color: var(--main-color);
}

.root {
    text-align: center;
}
#header {
    background: var(--main-color);
    display: flex;
    height: 124px;
}
#branding {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 32px;
}

#branding h1 {
    color: white;
    margin: 0 0 0 12px;
    font-size: 0.7em;
    text-align: left;
}
#branding h1.sub {
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 2.5em;
    text-align: left;
}

#header-image {
    height: 64px;
    display: block;
}

img.rendered {
    max-width: 100%;
}

.gist.snippet img.rendered {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    max-height: 200px;
    object-position: top;
}

@media (min-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }

    body {
        font-size: 18px;
    }
}
