@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-display: block;
    src: url(../webfonts/Montserrat-Italic.ttf) format('truetype');
    src: url(../webfonts/Montserrat-Italic.woff2) format('woff2');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-display: block;
    src: url(../webfonts/Montserrat-Regular.ttf) format('truetype');
    src: url(../webfonts/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-display: block;
    src: url(../webfonts/Montserrat-SemiBold.ttf) format('truetype');
    src: url(../webfonts/Montserrat-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-display: block;
    src: url(../webfonts/Montserrat-Bold.ttf) format('truetype');
    src: url(../webfonts/Montserrat-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100;
    font-display: block;
    src: url(../webfonts/Raleway-ThinItalic.ttf) format('truetype');
    src: url(../webfonts/Raleway-ThinItalic.woff2) format('woff2');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 100;
    font-display: block;
    src: url(../webfonts/Raleway-Thin.ttf) format('truetype');
    src: url(../webfonts/Raleway-Thin.woff2) format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-display: block;
    src: url(../webfonts/Raleway-Regular.ttf) format('truetype');
    src: url(../webfonts/Raleway-Regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-display: block;
    src: url(../webfonts/Raleway-Italic.ttf) format('truetype');
    src: url(../webfonts/Raleway-Italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Nanum Gothic Coding';
    font-weight: 600;
    font-display: block;
    src: url(../webfonts/NanumGothicCoding-Bold.ttf) format('truetype');
    src: url(../webfonts/NanumGothicCoding-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Nanum Gothic Coding';
    font-weight: 400;
    font-display: block;
    src: url(../webfonts/NanumGothicCoding-Regular.ttf) format('truetype');
    src: url(../webfonts/NanumGothicCoding-Regular.woff2) format('woff2');
}


body {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    text-align: left;
    margin: 0;
}

:root {
    --main-color: #00cc99;
    --disable-color: #bbcccc;
    --font-light: #ffffff;
    --font-dark: #000000;
    --caution-color: #ff5555
}

.container {
    width: 95%;
    margin: 0 auto;
}

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .left {
    min-width:350px;
    top:50%;
    right:100%;
    margin-right:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#00cc99;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip .left i {
    position:absolute;
    top:50%;
    left:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .left i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    background-color:#00cc99;
}

.tooltip .right {
    min-width:350px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#00cc99;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .right, .tooltip:hover .left {
    visibility:visible; opacity:1;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#00cc99;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
}

a, a:visited {
    color: var(--main-color);
}


#header {
    background: var(--main-color);
    display: flex;
    height: 84px;
    justify-content: space-between;
}

#menu a, #menu a:visited{
    color: var(--font-light);
}

#menu {
    display: flex;
    align-items: center;
    padding-right: 24px;
}

.user-actions {
    padding-right: 24px;
}
.user-actions li {
    display: block;
}

.user-self img {
    border-radius: 50%;
    max-height: 58px;
}


#branding {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 32px;
}

#branding h1 {
    color: white;
    margin: 0 0 0 12px;
    font-size: 0.7em;
    text-align: left;
}
#branding h1.sub {
    font-family: 'Nanum Gothic Coding', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 2.5em;
    text-align: left;
}

#header-image {
    height: 42px;
    display: block;
}

img.rendered {
    max-width: 100%;
}

div.meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.name-and-user p {
    display: inline-block;
    margin: 0;
}

.facts li {
    display: inline-block;
}
.name-and-user {
    display: flex;
}
.name-and-user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.name-and-user .profile-date {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.gist.snippet img.rendered {
    max-width: 100%;
    max-height: 200px;
}

.root {
    border: 1px solid var(--main-color);
    border-radius: 6px;
    margin-bottom: 32px;
}

b {
    font-weight: 600;
}

.hidden {
    display: none;
}
.root div.name {
    padding: 12px 16px;
    background-color: var(--main-color);
    color: var(--font-light);
    font-family: Montserrat, sans-serif;
}


.gist.snippet {
    margin-bottom: 2em;
}

.facts ul {
    margin: 0;
}

.facts i {
    padding-right: 4px;
    font-size: 16px;
    vertical-align: middle;
}

.above {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.above .name-and-user {
    margin-bottom: 16px;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--main-color);
    border-color: var(--main-color) transparent var(--main-color) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}


#copy-button {
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background: var(--main-color);
    color: var(--font-light);
    padding: 6px 6px 6px 8px;
    height: 100%;
}

input.button, button, .button a {
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background: var(--main-color);
    color: var(--font-light);
    padding: 6px 6px 6px 8px;
    height: 100%;
    text-decoration: none;
}

.button.delete {
    background: var(--caution-color);
}


.edit-gist .roots {
    margin-top: 32px;
}

.edit-gist .buttons {
    float: right;
}

.edit-gist .row {
    margin-bottom: 32px;
    padding-top: 8px;
}

.edit-gist input[type="checkbox"] {
    visibility: hidden;
}

.edit-gist input[type="checkbox"]:checked ~ div img {
    opacity: 30%;
}

.edit-gist input[type="checkbox"] ~ div:hover {
    cursor: pointer;
}

.edit-gist input[type="checkbox"] ~  div i {
    color: #d4d4d4;
    visibility: hidden;
    position: absolute;
    top: 100px;
    left: 50%;
    font-size: 48px;
    transform: translate(-50%, -50%);
}

.edit-gist input[type="checkbox"]:checked ~ div i {
    color: var(--caution-color);
    visibility: visible;
}

.edit-gist input[type="checkbox"] ~ div {
    position: relative;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    .container {
        width: 90%;
        margin: 32px auto;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .container {
        width: 960px;
        margin: 32px auto;
    }
}
